<!-- templete form/// responsive form -->

<form #form=ngForm (ngSubmit)=submit(form)>
    <div>
        <label for="firstName">First Name</label>
        <!-- validation -->
        <input required ngModel name="firstName" #firstName=ngModel id="firstName" type="text" (click)="log(firstName)">
        <div *ngIf="firstName.touched && !firstName.valid">Name Field Required</div>
    </div>
    <br>
    <div>
        <label for="id">ID </label>
        <input required minlength="3" maxlength="7" pattern="young" ngModel #id=ngModel name="id" id="id" cols="30" rows="10" (click)="log(id)" />
        <div *ngIf="id.touched && !id.valid">
            <div *ngIf="id.errors['required']">Reqire ID</div>
            <div *ngIf="id.errors['minlength']">more than 3 characters</div>
        </div>

    </div>
    <br>
    <div>
        <label for="comment">Comment</label>
        <br>
        <textarea name="" id="comment" cols="30" rows="10"></textarea>
    </div>

    <div>
        <label>
            <input type="checkbox" ngModel name="isSubScribed"> subscript my blog
        </label>
    </div>

    <br>

    <div>
        <label for="contactMethod">Contact Method
            <select ngModel name="contactMethood" id="contactMethood">
                <option *ngFor="let method of contactMethods" [value]=method.id>{{method.name}}</option>
            </select>
        </label>
    </div>

    <br>

    <div>
        <label *ngFor="let method of contactMethods">
            <input ngModel name="Radio Button" type="radio" [value]=method.id>
            {{method.name}}
        </label>
    </div>

    <p>{{form.value | json}}</p>

    <button>Submit</button>
</form>