<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <br>
    
    <input type="text" #input (keyup.enter)="createPost(input)">

    <ul *ngFor="let item of posts">
        <!-- <button (click)="onUpdate(item)" >Update</button> -->
        <button (click)="onDelete(item)" >Delete</button>
        <li>
            {{item.title}}
        </li>
    </ul>
</body>
</html>
