<h1>Welcome {{name}}</h1>

<input type="text" bind-disabled="isdisable" value="Vishwas">

<h2 class="text-success">Codevolution</h2>
<h2 [class]="successClass">Codevolution</h2>

<h2 [class.text-danger]="hasError">Codevolution</h2>
<h2 [ngClass]="messageClass">Codevolution</h2>

<h2 [style.color]='"red"'>Style Binding</h2>

<button (click)="onClick($event)">Click Me</button> 

<input type="text" placeholder="type any..." [(ngModel)]="name">{{name}}

<br>
<br>

<input type="text" #textInput (keyup)="onKeyUp(textInput)">

<button (click)="buttonEvent($event)">Submit</button>

<p *ngIf="showInput == 'Young'; else otherMent"> hello, young {{showInput}} </p> 

<ng-template #otherMent>
    {{showInput}}
</ng-template>
